<div class="question_editor shadebox">
    <h1 ><%= @title %></h1>
    <%= simple_form_for @question do |f| %>
      <div class = 'questions'>
        <%= f.error_messages %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :survey_section_id %>
        <%= f.hidden_field :display_order %>
        <%= f.hidden_field :pick %>
        <%= f.hidden_field :display_type %>
        <%= f.hidden_field :modifiable %>

        <%= f.label :Question, :input_html=>{:size=>'15'} %>
        <%= f.input :text , :label => false, :input_html=>{:size=>'55', value: adjusted_text} %>
        <span class='fl'><strong>Mandatory?</strong></span>
        <%= f.input :is_mandatory, :label => false, :wrapper_html=>{:class=>'fl notfirst'}%>
        <br />
        <br />
        <strong>Question Type</strong><br/>
        <div class="question_type">
          <span class="question_type_grid1">
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[0..0] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid1">
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[1..1] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <br />
          <span class="question_type_grid">
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[3..6] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid">
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[7..9] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[2..2] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid">
            <%= f.input :question_type_id, 
              :collection=> f.object.question_type.all.map{|t|[t.text, t.id]}[10..12] , 
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
        </div>
        <br />
        <div id="answer_choice">
          <%= render 'picks', :f => f %>
        </div>
        <div id="number_questions"></div>

          <div id="report_code" style="display:none">
            <br />
            <%= f.input :report_code, :label=>'Report Code', :label_html=>{:style=>'width:10em;'},:hint=>'Use this code to uniquely identify application data driven questions for reporting.' %>
            <br />
          </div>
        <br />
        <%= f.button :submit, 'Save Changes', :id=>'question_submit' %>
      </div>
  <% end %>
  <% 20.times do -%><br/><% end -%>
</div>
