<%= simple_fields_for 'question', @questions do |f| %>
  <%= f.simple_fields_for :question_group, @question_group do |qg| %>
        <%= qg.simple_fields_for :questions do |q| %>
          <div class="group_inline_question">
            <%= q.input :text, label: false, as: :string, wrapper_html:{class: "question"} %>
            <%= q.input :question_type_id, label: false, collection: QuestionType.all.map{|t|[t.text, t.id]}[0..11].uniq.select{|c| [:box,:number,:date,:string,:dropdown,:pick_one,:pick_any].include? c[1]}, wrapper_html:{class: "question"}   %>
          </div>
        <% end -%>
  <% end -%>
<% end -%>
