<%= simple_fields_for 'question', @questions do |f| %>
  <%= f.simple_fields_for :question_group, @question_group do |qg| %>
    <%= qg.hidden_field :id %>
    <%= qg.hidden_field :display_type, value: "inline" %>
      <div class="group_inline">
        <div class="group_inline_header">
          <span>
          Question
          </span>
          <span>
          Question Type
          </span>
        </div>
        <%= render "group_inline_field" %>
        Add Question <%= image_tag("addicon.png", class:"add_group_inline_question") %>
      </div>
  <% end -%>
  <br/><br/><br/>
  <%= f.input :comments_text,
    label: "at the bottom of questions, add",
    hint: "box for notes/comments",
    placeholder: "Comments",
    as: :string,
    wrapper_html: {class: 'comments_text fl'}
  %>:
  <%= f.input_field :comments, label: false, as: :boolean %>
<% end -%>
