<%= f.simple_fields_for :dependency do |d| %>
  <%= d.hidden_field :question_id %>
  <%= d.hidden_field :question_group_id %>
  <%= d.hidden_field :rule %>
  <div>
    Show the question, "<%= @this_question %>", when the following conditions are true:<br /><br />
    <table>
      <thead>
        <tr>
          <td>Question</td><td>Condition</td><td>Answer</td>
        </tr>
      </thead>
      <tbody id="dependency_conditions_partial" data-question_id="<%= @question.id.to_s %>" data-dependency_id="<%= d.object.id.to_s %>"></tbody>
    </table>
    <p class="floatdown2 add_condition">
      Add a Condition <%= image_tag 'addicon.png', :border => 0 %>
    </p>
  </div>
<% end -%>
<br /><br />
<%= f.button :submit,  'Save Changes',  :id=>'dependency_submit' %>

