<!DOCTYPE html>
<html>
  <head>
    <title>SurveyorGui</title>
    <%= stylesheet_link_tag    "surveyor_gui_all", :media => "all" %>


    <%= yield :javascript_for_view if content_for?(:javascript_for_view) %>

    <%= javascript_include_tag "surveyor_gui_all" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="surveyor-gui-mount-point" data-surveyor-gui-mount-point="<%= surveyor_gui.surveyforms_path %>"></div>
   <% flash.each do |key, value| %>
     <%= content_tag(:div, value, :class => "flash #{key}") %>
   <% end %>
   <% flash.clear %>
   <%= yield %>

  </body>
</html>
