<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SurveyorGui" %></title>
    <title>SurveyorGui</title>

    <%= stylesheet_link_tag    "surveyor_gui_all", :media => "all" %>
    <%= javascript_include_tag "surveyor_gui_all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="surveyor_gui_mount_point" data-surveyor_gui_mount_point="<%= surveyor_gui.surveyforms_path %>"></div>
   <% flash.each do |key, value| %>
     <%= content_tag(:div, value, :class => "flash #{key}") %>
   <% end %>
   <%= yield %>

  </body>
</html>
