<%= simple_fields_for 'surveyform', @surveyform || @survey_section.survey do |f| %>
  <%= f.simple_fields_for :survey_sections, @survey_section do |s| %>

    <%# if the underlying object has been saved (== it has an id) %>
    <% if s.object.id -%>
      <%= div_for(s.object) do %>

        <h2 style='position:relative;'>

          <span class="fl ui-icon ui-icon-arrowthick-2-n-s"></span>&nbsp;

          <%= s.object.title %>

          <div class="section_top_button_bar">

            <% if !@survey_locked && (s.object.modifiable?) %>

              <button type="button" id="edit_section_title"
                      data-replace_survey_section_url="<%=surveyor_gui.replace_survey_section_surveyform_path(
                        survey_section_id: s.object.id,
                        id: f.object.id)%>"
                      data-edit_survey_section_url="<%=surveyor_gui.edit_survey_section_url(s.object.id)%>"
                      data-survey_section_id="<%=s.object.id%>"
              >Edit Section Title</button>

              <% if session[:cut_section] -%>

                <button type="button" id="paste_section"
                  data-paste_section_surveyform_url="<%= surveyor_gui.paste_section_surveyform_url(survey_section_id: s.object.id, position: 'over') %>"
                >Paste Section</button>

              <% else -%>

                <button type="button" id="cut_section"
                        data-cut_section_surveyform_url="<%=surveyor_gui.cut_section_surveyform_url(
                          id: f.object.id, 
                          survey_section_id: s.object.id)%>"
                        data-survey_section_id="<%=s.object.id%>"
                        data-section_already_cut="<%= session[:cut_section] %>"
                >Cut Section</button>

              <% end -%>

              <button type="button" id="delete_section"
                      data-survey_section_id="<%=s.object.id%>"
                      data-survey_section_url="<%= surveyor_gui.survey_section_url(s.object.id)%>"
              >Delete Section</button>

            <% end -%>

          </div>

        </h2>

        <fieldset style="background:white">
          <div class="fields surveysection">
            <%= s.hidden_field :id %>
            <%= s.hidden_field :modifiable %>

            <% if !@survey_locked && (s.object.modifiable?)  -%>

              <div class="question_buttons_top">

                  <button type="button" id="add_question" class="cut"
                    data-insert_new_question_url="<%=surveyor_gui.insert_new_question_surveyform_url(f.object.id)%>"
                    data-new_question_url="<%=surveyor_gui.new_question_url%>"
                  >Add Question</button>

                  <% if session[:cut_question] -%>

                    <button type="button" id="paste_question"
                      data-paste_question_surveyform_url="<%= surveyor_gui.paste_question_surveyform_url(
                        id:                 f.object.id,
                        survey_section_id:  s.object.id) %>"
                    >Paste Question</button>

                  <% end %>

              </div>

            <% end %>

            <div class="sortable_questions" id="sortable_question<%= s.object.id.to_s %>">
              <%= s.simple_fields_for :questions do |q| %>
                <%= render_questions_and_groups_helper q, s %>
              <% end %>
            </div>

            <% if !@survey_locked && s.object.modifiable %>

              <div class="button_bar_outer">
                <div class="section_button_bar_bottom_inner">

                  <button type="button" id="add_section"
                    data-new_survey_section_url="<%=surveyor_gui.new_survey_section_url%>"
                    data-insert_survey_section_url="<%= surveyor_gui.insert_survey_section_surveyform_path(:action => 'insert_survey_section',:id => f.object.id) %>"
                    data-survey_section_id="<%= s.object.id.to_s %>"
                    data-survey_id="<%= s.object.survey.id.to_s %>"
                  >Add Section</button>

                  <% if session[:cut_section] -%>

                    <button type="button" id="paste_section"
                      data-paste_section_surveyform_url="<%= surveyor_gui.paste_section_surveyform_url(:survey_section_id => s.object.id) %>"
                    >Paste Section</button>

                  <% end -%>

                </div>
              </div>

            <% end -%>

          </div>
        </fieldset>
      <% end %>

    <% else -%>
      <%# else the underlying object for this form has not been saved yet (it does not have an id) %>

      <%= s.hidden_field :id %>
      <%= s.hidden_field :title %>
      <%= s.hidden_field :display_order %>
      <%= s.hidden_field :modifiable %>

      <%= s.simple_fields_for :questions do |q| %>
        <%= q.hidden_field :id %>
        <%= q.hidden_field :text %>
        <%= q.hidden_field :display_order %>
        <%= q.hidden_field :pick %>
        <%= q.hidden_field :display_type %>
        <%= q.hidden_field :question_group_id %>
        <%= q.hidden_field :modifiable %>
        <%= q.simple_fields_for :answers do |a| %>
          <%= a.hidden_field :text %>
          <%= a.hidden_field :response_class %>
          <%= a.hidden_field :display_order %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end -%>
