#surveyor

  - unless (types = flash.keys.select{|k| ['notice', 'error', 'warning'].include?(k)}).blank?
    .surveyor_flash
      = flash_messages(types)
      -# clear messages now that they've been displayed so any outer views/layouts don't display them for a 2nd time
      - flash.clear
      .close

  = semantic_form_for(@response_set, :as => :r, :url => surveyor.update_my_survey_path, :html => {:method => :put, :id => "survey_form", :class => @survey.custom_class}) do |f|

    = hidden_field_tag :surveyor_javascript_enabled, false

    = render 'partials/section_menu'  unless @sections.size < 3

    .survey_title= @survey.translation(I18n.locale)[:title]

    - if (@section.id == @sections.first.id) # only show if it's the first section
      = survey_preamble_html(@survey)

    .previous_section= previous_section

    = render 'partials/dependents' unless @dependents.empty?

    = render "/partials/section", :f => f

    .next_section= next_section

    = survey_postscript_html @survey

  %br

:javascript
  $(document).ready(function() {
    $("input#surveyor_javascript_enabled").val(true);
  });
