<strong>Possible Answers:</strong> enter each choice on a separate line.   <%# FIXME I18n %>
<%= simple_fields_for 'question', @questions do |f| %>
  <%= f.input :answers_textbox, :as => :text, :wrapper_html => {:class=>'answers_collection'}, :label => false %>
  <!--  <%= f.simple_fields_for :answers do |a| %>
    <div class="answer", id='<%="answer_#{a.id}"%>'>
      <div id='original_choice', data-original_choice="<%= a.object.original_choice %>"></div>
      <div class="fields vertical_collection" style='display: table;'>
        <span class='fl ui-icon ui-icon-arrowthick-2-n-s answer_handle'>
          Move
        </span>
        <%= a.input :text, :as => :string, :label => false, :required => false, :wrapper_html=>{:class=>'fl notfirst'}%>
        <%= a.hidden_field :display_order %>
        <%= a.hidden_field :id %>
        <span class="fl notfirst">
          <%= link_to_remove_fields "remove", a %>
        </span>
      </div>
    </div>
  <% end %>
  -->

  <%= render "answer_options", f: f %>
<% end -%>
