<div class="question_editor shadebox">
    <%= render "surveyor_gui/partials/url_helpers" %>
    <h1 ><%= @title %></h1>
    <%= simple_form_for [surveyor_gui, @question] do |f| %>
      <div class = 'questions'>
        <%= f.error_messages %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :survey_section_id %>
        <%= f.hidden_field :display_order %>
        <%= f.hidden_field :pick %>
        <%= f.hidden_field :display_type %>
        <%= f.hidden_field :modifiable %>
        <%= f.hidden_field :question_group_id %>

        <%= f.label :Question, :input_html=>{:size=>'15'} %>
        <%= f.input :text , :label => false, :input_html=>{:size=>'55', value: adjusted_text} %>
        <span class='fl'><strong>Mandatory?</strong></span>  <%# FIXME I18n %>
        <%= f.input :is_mandatory, :label => false, :wrapper_html=>{:class=>'fl notfirst'}%>
        <br />
        <br />
        <strong>Question Type</strong><br/>  <%# FIXME I18n %>
        <div class="question_type">
          <span class="question_type_grid1">
            <%= f.input :question_type_id,
              collection: question_type_subset([:pick_one]) ,
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid1">
            <%= f.input :question_type_id,
              collection: question_type_subset([:pick_any]) ,
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <br />
          <span class="question_type_grid">
            <%= f.input :question_type_id,
              collection: question_type_subset([:dropdown, :string, :number, :stars, :label, :box]) ,
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid">
            <%= f.input :question_type_id,
              collection: question_type_subset([:date, :datetime, :time, :slider, :group_default ]) ,
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false%>
          </span>
          <span class="question_type_grid">
            <%= f.input :question_type_id,
              collection: question_type_subset([:file, :grid_one, :grid_any, :grid_dropdown, :group_inline, :repeater]) ,
              :as => :radio_buttons , :wrapper_html=>{:size=>'60'}, :label => false %>
          </span>
        </div>
        <br />
        <div id="answer_choice">
          <%= render 'picks', :f => f %>
        </div>
        <div id="number_questions"></div>

          <div id="report_code" style="display:none">
            <br />
            <%= f.input :report_code, :label=>'Report Code', :label_html=>{:style=>'width:10em;'},:hint=>'Use this code to uniquely identify application data driven questions for reporting.' %>  <%# FIXME I18n %>
            <br />
          </div>
        <br />
      </div>
      <%= f.button :submit, 'Save Changes', :id=>'question_submit' %>  <%# FIXME I18n %>
  <% end %>
  <% 20.times do -%><br/><% end -%>
</div>
