%tr{class: toggle ? "report_data report_data_display" : "report_data"}
  %td
  %td
  %td
    %table
      %tr{:style => "font-weight:bold;"}
        %td User Id
        %td Response
      - response_formatter = ReportFormatter.new(q, @responses)
      - q.responses.each do |r|
        %tr
          %td= r.response_set.report_user_name
          %td.table_number
            = q.prefix
            - if [:number, :date, :datetime, :time].include? q.question_type_id
              = response_formatter.format_stats(r.response_value.to_f) 
            - else
              = r.response_value
              \&nbsp;
            = q.suffix
        - if q.answers.select { |a| a.is_comment == 't' }.count > 0
          = render "surveyor_gui/shared/new_line"
          = render "surveyor_gui/shared/pick_comments", q: q, extra_column: false
      - if q.question_type_id == :pick_any
        = render "surveyor_gui/shared/new_line"
= render "surveyor_gui/shared/new_line"
