-# TODO I18n
.column2
  .shadebox.round
    #survey_response

      %h1.round_top
        = @title
      %br

      - if @response_sets.where(test_data: false).empty?
        %br
        Sorry, no responses available yet. &nbsp;Ask some people to take the survey.
        %br

      - else
        %table
          %tr
            %th ResponseSet Access Code
            %th User
            %th date started
            %th date completed
            %th date last changed
            %th survey responses
          - @response_sets.where(test_data: false).each do |response_set|
            %tr
              %td= response_set.access_code
              %td= response_set.report_user_name
              %td= response_set.created_at
              %td= response_set.completed_at
              %td= response_set.updated_at
              %td
                = link_to "Responses", response_path(response_set)

      %br
      %p
        = link_to "Manage Surveys", surveyforms_path
