.survey-responses
  %br
  .column3
    .shadebox.round

      #Survey

        %h1.round-top= @title
        - @question_no = 1

        %h2.survey-title= @survey.title
        - @question_no = 1

        - @survey.survey_sections.each do |survey_sect|
          %h3= survey_sect.title
          %br

          - survey_sect.questions.each do |q|
            %div{class: q.surveyresponse_class(@response_sets)}

              %div{class: q.repeater? ? "repeater" : "non_repeater"}

                - if q.part_of_group?
                  - @question_group = @question_group || QuestionGroupTracker.new(q.question_group_id)

                  - if @question_group.check_for_new_group(q)

                    - if ["default", "inline", "repeater", "grid"].include? q.question_group.display_type
                      %table.question-group
                        %tr.question-group-text
                          %td.spacer
                            &nbsp;
                          %td.question-group-text{colspan: 3}
                            = @question_no.to_s+") #{q.question_group.text}"
                            - @question_no += 1

                        %tr
                          %td.spacer &nbsp;

                        - if ["default", "inline", "repeater"].include? q.question_group.display_type

                          - if q.question_group.display_type == "repeater"
                            = render "repeater", question_group: q.question_group

                          - else
                            - q.question_group.questions.each do |group_question|
                              = render "survey_results", q: group_question

                        - elsif [:grid_one, :grid_any].include? q.question_type_id
                          = render "grid", question_group: q.question_group, question_type: q.question_type_id

                        - elsif q.question_type_id == :grid_dropdown
                          = render "grid_dropdown", question_group: q.question_group

                - else
                  %table.survey-results
                    = render "surveyor_gui/shared/question_number", q: q
                    = render "survey_results", q: q

        = link_to "back", :back
