<% @question_no = @question_no + 1 if f.object.id && f.object.question_type != 'Label'-%>
<%= div_for(f.object) do %>
  <fieldset class="
    fields
    questions
    <%= f.object.is_mandatory ? 'mandatory_questions' : 'optional_questions' %>
    <%= !@survey_locked && (f.object.modifiable) ? '' : 'not_modifiable' %>"
  >
    <div class="inner_question">
      <!-- if dependencies, notify the user with a highlighted message at the top of the question -->
      <% if f.object.dependency -%>
        <span class="question_logic_notifier">
          <!-- get_questions tells the user which other questions determine whether this one is displayed -->
          <%= get_questions(f) if f.object.dependency %>.<br/>
        </span>
      <% end -%>

      <!-- display the button bar unless a user has already submitted responses, thus locking the survey, or   -->
      <!-- the survey is explicitly marked not modifiable (e.g., an administrator locks it).                   -->
      <% if !@survey_locked && (f.object.modifiable?) -%>
        <span class="fl ui-icon ui-icon-arrowthick-2-n-s"></span>

        <span class="question_button_bar">

          <button type="button" id="edit_question"
             data-replace_question_url="<%=url_for(:action => 'replace_question', :question_id => f.object.id)%>"
             data-edit_question_url="<%=edit_question_url(f.object.id)%>"
             data-question_id="<%= f.object.id.to_s %>"
          >Edit Question</button>

          <button type="button" id="cut_question"
             data-cut_question_surveyform_url="<%=cut_question_surveyform_url(:question_id => f.object.id)%>"
             data-question_already_cut="<%= session[:cut_question] %>"
          >Cut Question</button>

          <button type="button" id="delete_question"
             data-question_url="<%=question_url(f.object.id)%>"
             data-replace_form_surveyform_url="<%= replace_form_surveyform_url(:survey_section_id => f.object.survey_section_id) %>"
          >Delete Question</button>

          <span style="float:right;">

            <% if f.object.dependency -%>

              <button type="button" id="delete_logic"
                 data-replace_question_url="<%=url_for(:action => 'replace_question', :question_id => f.object.id)%>"
                 data-dependency_url="<%= dependency_url(f.object.id) %>"
                 data-question_id="<%= f.object.id.to_s %>"
              >Delete Logic</button>


              <button type="button" id="edit_logic"
                data-replace_question_url="<%=url_for(:action => 'replace_question', :question_id => f.object.id)%>"
                data-edit_dependency_url="<%= edit_dependency_url(f.object.id) %>"
              >Edit Logic</button>

            <% else -%>
                <button type="button" id="add_logic"
                  data-replace_question_url="<%=url_for(:action => 'replace_question', :question_id => f.object.id)%>"
                  data-new_dependency_url="<%= new_dependency_url(:id=>f.object.id) %>"
                  data-question_id="<%= f.object.id.to_s %>"
                >Add Logic</button>
            <% end %>

          </span>
        </span>

      <% end %>
      <br />
      <br />
      <%= f.hidden_field :id %>
      <%= f.hidden_field :display_order %>
      <%= f.hidden_field :modifiable %>

      <!-- Tack a number onto questions, e.g. "3) What is your name?" but don't do it for labels -->
      <% if f.object.question_type != 'Label' -%>
        <span class="questions">
          <%= (@question_no.to_s+ ') ' + f.object.text.to_s)%>
        </span>
      <% end %>
      <br />

      <!-- question_types, a custom getter in question_methods.rb, are:
        Multiple Choice (only one answer)
        Multiple Choice (multiple answers)
        Text
        Number
        Date
        Text Box (for extended text, like notes, etc.)
        Slider
        1-5 Stars
        Label
        File Upload
      -->
      <% question_type = f.object.question_type.downcase
         case
           when question_type == 'slider' -%>
          <br />
          <br />
          <br />
          <!-- The slider uses the Jquery UISlider plugin (http://www.filamentgroup.com/lab/update_jquery_ui_16_slider_from_a_select_element/) -->
          <!-- Look in application.js for the hook - it selects all input select elements with "uislider" as the class -->
          <%= f.input :dummy_answer, :collection => f.object.answers.map{|a| a.text}, :as => :select, :label => false,
                      :input_html => {:class => "uislider"}, :include_blank => false, :wrapper_html=>{:class => 'shrink_slider'} %>
          <br />

        <% when question_type.include?( 'stars' ) -%>
          <%= f.input :dummy_answer, label: false, :collection => [[nil,1],[nil,2],[nil,3],[nil,4],[nil,5]],
                      :as => :radio, :input_html=>{:class=>'star'}, :wrapper_html=>{:class=>'star'} %>

        <% when question_type.include?( 'only one answer' ) -%>

          <%= f.input :dummy_answer, label: false, :collection => f.object.answers.collect(&:text), :as => :radio, :label => false %>

       <% when question_type.include?( 'dropdown' ) -%>

          <br />
          <%= f.input :dummy_answer, label: false, :collection => f.object.answers.collect(&:text), :as => :select, :label => false %>

        <% when question_type.include?( 'multiple answers' ) %>

          <% if f.object.dynamically_generate==false -%>
            <br />
            <span style="font-weight:normal;font-style:italic" class="field_indent">content retrieved from the application will go here.</span>
            <br />
          <% else -%>
            <%= f.input :dummy_answer, :collection => f.object.answers.collect(&:text), :as => :check_boxes, :label => false %>
          <% end %>

        <% when question_type == 'label' -%>
          <br/>
           <span style="margin-left: 4.5em;">
           <%= f.object.text %>
           </span>

        <% when  question_type.include?('text') -%>
          <br/>
          <%= f.input :dummy_answer, :as=>:text, :label=>false, :input_html=>{:style=>"margin-left: 4.5em;", :rows=>"3"}%>

        <% when question_type == 'number' -%>
          <br/>

          <!-- Prefix -->
          <span class='fl' style="margin-left: 4.5em;">
            <% if f.object.answers.first.text.include?('|') %>
              <%= f.object.answers.first.text.split('|')[0] %>&nbsp;
            <% end %>
          </span>

          <!-- Number -->
          <%= f.input :dummy_answer, :as=>:string, :label=>false, :input_html=>{:size=>"10"}, :wrapper_html=>{:class=>'fl notfirst'} %>

          <!-- Suffix -->
          &nbsp;
          <%= f.object.answers.first.text.split('|')[1] %>

        <% when question_type == 'date' -%>
          <br/>
            <%= f.input :dummy_answer, :as=>:date_picker, :label=>false, :input_html=>{:size => "8",:style=>"margin-left: 4.5em;"},
                        :hint => 'mm/dd/yy', :hint_html=>{:style=>'margin-left:5em;'} %>

        <% when question_type == 'file upload' -%>
          <br/>
          <%= f.input :dummy_blob, :as => :file, :label=>false, :input_html=>{:size => "8",:style=>"margin-left: 4.5em;"} %>

        <% else -%>
          <br/>
          <br />
          <%= f.input :dummy_answer, :label=>false, :input_html=>{:style=>"margin-left: 4.5em;"}%>
      <% end -%>

      <% if !f.object.modifiable? -%>
        <br />
        <span class='field_indent'>
          Report Code: <%= f.object.report_code %>
        </span>
        <br />
      <% end %>

    </div>
  </fieldset>

  <% if !@survey_locked && (f.object.modifiable?) -%>

    <div class="question_buttons_bottom">

      <button type="button" id="add_question" class="cut"
        data-insert_new_question_url="<%=insert_new_question_surveyform_url %>"
        data-new_question_url="<%=new_question_url%>"
        data-prev_question_id="<%= f.object.id.to_s %>"
      >Add Question</button>

      <% if session[:cut_question] -%>

        <button type="button" id="paste_question"
          data-paste_question_surveyform_url="<%= paste_question_surveyform_url(:question_id=>f.object.id) %>"
        >Paste Question</button>

      <% end %>

    </div>

  <% end %>
<% end %>
