<%= f.hidden_field :id %>
<%= f.hidden_field :display_order %>
<%= f.hidden_field :modifiable %>

<%= row_label_if_question_group f.object %>
<!-- question_types, a custom getter in question_methods.rb, are:
  Multiple Choice (only one answer)
  Multiple Choice (multiple answers)
  Text
  Number
  Date
  Text Box (for extended text, like notes, etc.)
  Slider
  1-5 Stars
  Label
  File Upload
-->
<% question_type = f.object.question_type.downcase
   case
     when question_type == 'slider' -%>

    <!-- The slider uses the Jquery UISlider plugin (http://www.filamentgroup.com/lab/update_jquery_ui_16_slider_from_a_select_element/) -->
    <!-- Look in application.js for the hook - it selects all input select elements with "uislider" as the class -->
    <%= f.input :dummy_answer, :collection => f.object.answers.map{|a| a.text}, :as => :select, :label => false,
                :input_html => {:class => "uislider"}, :include_blank => false, :wrapper_html=>{:class => 'shrink_slider'} %>

  <% when question_type.include?( 'stars' ) -%>
    <%= f.input :dummy_answer, label: false, :collection => [[nil,1],[nil,2],[nil,3],[nil,4],[nil,5]],
                :as => :radio_buttons, :input_html=>{:class=>'star'}, :wrapper_html=>{:class=>'star'} %>

  <% when question_type.include?( 'only one answer' ) -%>

    <%= f.input_field :dummy_answer, label: false, :collection => f.object.answers.collect(&:text), :as => :radio_buttons %>

 <% when question_type.include?( 'dropdown' ) -%>

    <br />
    <%= f.input :dummy_answer, label: false, :collection => f.object.answers.collect(&:text), :as => :select %>

  <% when question_type.include?( 'multiple answers' ) %>

    <% if f.object.dynamically_generate==false -%>
      <br />
      <span style="font-weight:normal;font-style:italic" class="field_indent">content retrieved from the application will go here.</span>
      <br />
    <% else -%>
      <%= f.input_field :dummy_answer, :collection => f.object.answers.collect(&:text), :as => :check_boxes, :label => false %>
    <% end %>

  <% when question_type == 'label' -%>
    <br/>
     <span style="margin-left: 4.5em;">
     <%= f.object.text %>
     </span>

  <% when  question_type == ('text') -%>
    <%= f.input :dummy_answer, :as=>:string, :label=>false, :input_html=>{:style=>"margin-left: 4.5em;", :rows=>"1"}%>
    

  <% when  question_type.include?('text box') -%>
    <br/>
    <%= f.input :dummy_answer, :as=>:text, :label=>false, :input_html=>{:style=>"margin-left: 4.5em;", :rows=>"3"}%>    

  <% when question_type == 'number' -%>
    <br/>

    <!-- Prefix -->
    <span class='fl' style="margin-left: 4.5em;">
      <% if f.object.answers.first.text.include?('|') %>
        <%= f.object.answers.first.text.split('|')[0] %>&nbsp;
      <% end %>
    </span>

    <!-- Number -->
    <%= f.input :dummy_answer, :as=>:string, :label=>false, :input_html=>{:size=>"10"}, :wrapper_html=>{:class=>'fl notfirst'} %>

    <!-- Suffix -->
    &nbsp;
    <%= f.object.answers.first.text.split('|')[1] %>

  <% when question_type == 'date' -%>
    <br/>
      <%= f.input :dummy_answer, :as=>:date_picker, :label=>false, :input_html=>{:size => "8",:style=>"margin-left: 4.5em;"},
                  :hint => 'mm/dd/yy', :hint_html=>{:style=>'margin-left:5em;'} %>

  <% when question_type == 'file upload' -%>
    <br/>
    <%= f.input :dummy_blob, :as => :file, :label=>false, :input_html=>{:size => "8",:style=>"margin-left: 4.5em;"} %>

  <% else -%>
    <br/>
    <br />
    <%= f.input :dummy_answer, :label=>false, :input_html=>{:style=>"margin-left: 4.5em;"}%>
<% end -%>

<% if !f.object.modifiable? -%>
  <br />
  <span class='field_indent'>
    Report Code: <%= f.object.report_code %>
  </span>
  <br />
<% end %>
