<div class="colorbox">
    <h1 ><%= @title %></h1>
    <%= simple_form_for @question, :url => dependencys_path+'/'+@question.id.to_s do |f| %>
      <div class = 'dependency_editor'>
        <% @question.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
        <%= f.hidden_field :survey_section_id %>
        <%= f.simple_fields_for :dependency do |d| %>
          <%= d.hidden_field :question_id %>
          <%= d.hidden_field :question_group_id %>
          <%= d.hidden_field :rule %>
          <div>
            <table>
              Show the question, "<%= @this_question %>", when the following conditions are true:<br /><br />
              <tr>
                <td>Question</td><td>Condition</td><td>Answer</td>
              </tr>
              <%= d.simple_fields_for :dependency_conditions do |c| %>
                <%= render "dependency_condition_fields", :c => c %>
              <% end %>
            </table>
            <p class="floatdown2">
              Add a Condition<%= link_to_add_fields "Add Condition", d.object.id, d, :dependency_conditions, 'c', true %>
            </p>
          </div>
        <% end -%>
        <br /><br />
        <%= f.button :submit,  'Save Changes',  :id=>'dependency_submit' %>
        <br />
        <br />
        <br />
        Note: Logic can not be applied to text, text box, and date question types.
      </div>
  <% end %>
</div>
