<div class="shadebox">
    <h1 ><%= @title %></h1>
    <%= simple_form_for @question, :url => dependencys_path+'/'+@question.id.to_s do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :survey_section_id %>
      <div class = 'dependency_editor'>
        <%= render "dependency", f: f %>
      </div>
  <% end %>
  <% 24.times.each do %><br/><% end -%>
</div>
